* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding: 100px;
    position: relative;
}

#navbar {
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    color: #F2A340;
}

#footer {
    text-align: center;
    background-color: #353E48;
    color: #FFFFFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer p {
    margin-bottom: 0;
    /* change the color */
    color: #FFFFFF;
}