<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Room Rent</title>
    </head>
    <body>
        <div class="header">
            <h1>Room Rent</h1>
        </div>

        <div class="nav">
            <a class="search-button" href="/search">Pesquisar</a>
            <a class="publish-button" href="/publish">Publicar</a>
            <a class="message-button" href="/message">Mensagens</a>
            <a class="manage-button" href="/admin">Gerir</a>
        </div>
        
        <div class="content">
            <h3>Destaques:</h3>
            <div class="oferta">
                <p>Oferta</p>
                
            </div>
            <div class="procura">
                <p>Procura</p>
                
            </div>
        </div>
        <div class="footer">
            <p>© 2022 Room Rent</p>
            <p>Luis Miguel Lopes</p>
            <p>l42119@alunos.uevora.pt</p>
        </div>
    </body>
</html>