<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Room Rent</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/style/main.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collaps navbar-collapse" id="navbar">
                    <a href="/" class="navbar-brand">
                        <h3>Room Rent</h3>
                    </a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/anuncio/search" class="nav-link">Pesquisar</a>
                        </li>
                        <li class="nav-item">
                            <a href="/anuncio/publish" class="nav-link">Publicar</a>
                        </li>
                        <li class="nav-item">
                            <a href="/message" class="nav-link">Mensagens</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin" class="nav-link">Gerir</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <div class="search">
            <form action="/message/search" method="get">
                <label for="idAnuncio">Id do anuncio: </label>
                <input type="text" id="idAnuncio" name="idAnuncio" placeholder="Id do anuncio" required>
                <input type="submit" value="Procurar">
            </form>
        </div>

        <div class="search-result">
            <div th:if="${mensagens}">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Remetente</th>
                            <th scope="col">Data</th>
                            <th scope="col">Mensagem</th>
                            <th scope="col">...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:if="${mensagens.isEmpty()}">
                            <tr>
                                <td colspan="3">Não existem mensagens para este anuncio</td>
                            </tr>
                        </div>
                        <div th:else>
                            <tr th:each="mensagem : ${mensagens}">
                                <td th:text="${mensagem.remetente}"></td>
                                <td th:text="${mensagem.data}"></td>
                                <td th:text="${mensagem.mensagem}"></td>
                                <td>soon</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>

        <footer>
            <p>Room Rent &copy; 2023 | Luis Miguel Lopes | luis.melo.lopes@gmail.com</p>
        </footer>
    </body>
</html>